.dashboard-container {
    -fx-background-color: white;
    -fx-padding: 20;
}

.profile-section {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 0);
}

.student-name {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.student-detail {
    -fx-font-size: 14px;
    -fx-text-fill: #34495e;
}


.academia-section {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 0);
}

.section-header {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-padding: 0 0 10 0;
}

.sub-header {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #34495e;
}

.faculty-details {
    -fx-background-color: white;
    -fx-padding: 15;
    -fx-background-radius: 5;
    -fx-spacing: 5;
}

.module-container {
    -fx-spacing: 10;
}

.sign-out-button {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.sign-out-button:hover {
    -fx-background-color: red;
}

.module-row {
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 0);
}