/* Dashboard.css*/

@import "common.css";

/* Containers*/
.staff-dashboard-container,
.student-dashboard-container {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-spacing: 10;
}

.assessment-view-container {
    -fx-background-color: white;
    -fx-padding: 20;
}

.left-panel {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: top center;
    -fx-min-width: 250px;
}


.right-panel {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-padding: 25;
    -fx-spacing: 15;
    -fx-border-color: #e9ecef;
    -fx-border-radius: 5px;
    -fx-min-width: 250px;
}

/* Headers*/
.welcome-label {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 22 0;
    -fx-text-fill: #334335;
}

.course-name-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}


.count-label {
    -fx-font-size: 15px;
    -fx-text-fill: #7f8c8e;
}


/* Navigate*/
.menu-button {
    -fx-min-width: 200px;
    -fx-margin: 5 0;
}

.filter-drop-down {
    -fx-min-width: 200px;
    -fx-pref-height: 35px;
    -fx-background-color: #f8f9fa;
    -fx-border-color: #ced4da;
    -fx-border-radius: 5px;

}

/* Course Elements*/
.course-scroll-pane {
    -fx-background-color: white;
    -fx-border-color: #cccccf;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}

.assessment-scroll-pane {
    -fx-background-color: white;
    -fx-padding: 10px;
}

.course-list-container {
    -fx-spacing: 10px;
    -fx-padding: 10px;
}

/*
For Student Dashboard
*/
.profile-section {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-padding: 20px;
    -fx-spacing: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}


.academia-section {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-padding: 20px;
    -fx-spacing: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 0);
}

.list-courses {
    -fx-pref-width: 300px;
    -fx-pref-height: 200px;
}

.action-button {
    -fx-min-width: 200px;
    -fx-margin: 5 0;
    -fx-background-color: #0879bade;
}

.assessments-grid {
    -fx-alignment: center;
    -fx-hgap: 40;
    -fx-vgap: 40;
}