/* Manager.css */

@import "common.css";

.manage-student-view,
.manage-course-view,
.manage-assessments-view {
    -fx-background-color: white;
    -fx-padding: 10px;
}

.section-header {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(141, 137, 137);
    -fx-padding: 0 0 10 0;
}

.details-pane {
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-background-color: white;
    -fx-border-color: #cccccf;
    -fx-padding: 20;
    -fx-border-radius: white;
}

.student-list,
.course-list,
.courses-list {
    -fx-pref-width: 175px;
    -fx-padding: 10px;
}

.action-button {
    /* Inherits most styles from .button */
    -fx-min-width: 100px;
}

.navigate-button {
    -fx-background-color: #5c6469;
    -fx-min-width: 100px;
}

.navigate-button:hover {
    -fx-background-color: derive(#5c6469, -15%);
}

.center-panel {
    -fx-background-color: white;
    -fx-padding: 15px;
    -fx-spacing: 10px;
}

.right-panel,
.left-panel {
    -fx-background-color: #e3e7eb;
    -fx-border-color: #dfecf9;
    -fx-border-radius: 5;
    -fx-padding: 15px;
}